@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The best rooms in Central Asia, at affordable prices";
    ViewData["Keywords"] = "hotel, rooms, inn, promotion, discounts";

    Layout = "_LayoutBase";
}


<div class="text-center">
    <h1 class="display-4">Welcome1111</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
