<span> | </span>
<span class="text-theme">Lang:</span>
<span class="CultureList" style="cursor: pointer" onclick="SetCulture('en-US')">en</span>
<span> | </span>
<span class="CultureList" style="cursor: pointer" onclick="SetCulture('kk-KZ')">kk</span>
<span> | </span>
<span class="CultureList" style="cursor: pointer" onclick="SetCulture('ru-RU')">ru</span>
<span> | </span>
<span class="CultureList" style="cursor: pointer" onclick="SetCulture('uz-Latn-UZ')">uz</span>